/* Generated via Ansible */
{
    "gateway_conf": {
        "gateway_ID": "{{ ansible_local.lora.eui }}",
        "contact_email": "{{ contact_email }}", 
        "gps": {{ 'true' if ( latitude and longitude ) or ( use_gps and have_gps ) else 'false' }},
        "fake_gps": {{ 'false' if ( use_gps and have_gps ) or not (latitude and longitude ) else 'true' }},
{% if use_gps and have_gps %}
        "gps_tty_path": "/dev/{{ gps_device }}",
{% endif %}
{% if latitude and longitude %}
        "ref_latitude": {{ latitude }},
        "ref_longitude": {{ longitude }},
        "ref_altitude": {{ altitude if altitude else -1 }},
{% endif %}
{% if forwarder_variant == "mp" %}
	"servers": [
            {
		"serv_type": "ttn",
		"server_address": "{{ gw_router }}",
		"serv_gw_id": "{{ lora_hostname }}",
		"serv_gw_key": "{{ gw_key }}",
		"serv_enabled": true
            }
	],
{% endif %}
        "description": "{{ description }}"
    }
}
