src/gz mlinux-all http://multitech.net/mlinux/feeds/{{ ansible_local.mlinux.version }}/all
src/gz mlinux-arm926ejste http://multitech.net/mlinux/feeds/{{ ansible_local.mlinux.version }}/arm926ejste
src/gz mlinux-{{ conduit_type }} http://multitech.net/mlinux/feeds/{{ ansible_local.mlinux.version }}/{{ conduit_type }}
