src/gz mlinux-all http://multitech.net/mlinux/feeds/{{ ansible_local.mlinux.version }}/all
src/gz mlinux-arm926ejste http://multitech.net/mlinux/feeds/{{ ansible_local.mlinux.version }}/arm926ejste
src/gz mlinux-{{ conduit_type }} http://multitech.net/mlinux/feeds/{{ ansible_local.mlinux.version }}/{{ "mtcdt" if ansible_local.mlinux.version is version('5.3.0b', '=') else conduit_type }}
