src/gz mlinux-all {{ mlinux_base_url }}/feeds/{{ ansible_local.mlinux.version }}/all
src/gz mlinux-arm926ejste {{ mlinux_base_url }}/feeds/{{ ansible_local.mlinux.version }}/arm926ejste
src/gz mlinux-{{ conduit_type }} {{ mlinux_base_url }}/feeds/{{ ansible_local.mlinux.version }}/{{ conduit_type }}
src/gz ttni-arm926ejste {{ mlinux_ttni_base_url }}/feeds/ttni-arm926ejste
