#!/bin/sh
### BEGIN INIT INFO
# Provides:          restore
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      
# Description:       Finish recovery after reflash
### END INIT INFO

test "${1}" -eq "start" || exit 0

echo "${0}: Updating opkg database"
opkg update

echo "${0}: Removing packages we do not want"
opkg remove mosquitto lora-network-server lora-packet-forwarder

echo "${0}: Installing required packages"
opkg install {{ (ansible_depends + ansible_depends_old) | join(' ') }} libmpsse monit ntp ntp-utils

echo "${0}: Leaving a crumb for Ansible"
date -u >{{ mlinux_restore_init_crumb }}

echo ${0}: "Removing myself"
rm -f /etc/init.d/restore
update-rc.d $(basename ${0}) remove
