ctrl_interface=/var/run/wpa_supplicant
ctrl_interface_group=0
update_config=1

{% for wifi in wireless_keys %}
network={
	ssid="{{ wifi.ssid }}"
	psk="{{ wifi.psk }}"
        key_mgmt={{ wifi.key_mgmt if wifi.key_mgmt is defined else 'WPA-PSK' }}
}
{% endfor %}
