---
#
# XXX - Need to do this as said user
# XXX - Probably not necessary to create user
# XXX - local_action to run script?
#
#	Create ssh user on jumphost. Note that the MCCI port-mapping
# numbering scheme is not really handled here, so this will
# usually be done by a separate script.
#
- name: main | "Set up {{ ssh_tunnel_gateway_user_on_jumphost }} user"
  user:
    name: "{{ ssh_tunnel_gateway_user_on_jumphost }}"
    append: yes
    shell: /bin/bash
    password: "*"
  tags: users

- name: main | Create {{ ssh_tunnel_gateway_user_on_jumphost }}  .ssh dir
  file:
    dest: "~{{ ssh_tunnel_gateway_user_on_jumphost }}/.ssh"
    state: directory
    mode: "0700"
    owner: "{{ ssh_tunnel_gateway_user_on_jumphost }}"
    group: "{{ ssh_tunnel_gateway_user_on_jumphost }}"
  tags: users

- name: main | Create authorized keys
  local_action:
    module: shell
    args: "( cat roles/conduit/files/authorized_keys; bin/gen_authorized_keys ) > {{ role_path }}/files/authorized_keys"
  tags: users

# Using a template?
- name: main | "Install {{ ssh_tunnel_gateway_user_on_jumphost }} authorized keys"
  copy:
    dest: "~{{ ssh_tunnel_gateway_user_on_jumphost }}/.ssh/authorized_keys"
    src: authorized_keys
    mode: "0600"
    owner: "{{ ssh_tunnel_gateway_user_on_jumphost }}"
    group: "{{ ssh_tunnel_gateway_user_on_jumphost }}"
  tags: users

- name: main | Only allow gateway ports from localhost
  lineinfile: dest=/etc/ssh/sshd_config
    regexp="^GatewayPorts"
    line="GatewayPorts no"
    state=present
  notify: Restart ssh
  tags: sshd

# tasks file for sshhost
