---

# Conduit type
conduit_type: "{{ ansible_local.conduit.hw_version | regex_replace('-[0-9.]+$') | lower }}"

# Authorized keys
authorized_keys: "{{ lookup('file', 'files/authorized_keys') }}"

# Where to fetch the kersing packages
forwarder_baseurl_kersing: https://github.com/kersing/multitech-installer/raw/master

# mLinux upgrade info
mlinux_upgrade_bin: "mlinux-factory-image-{{ conduit_type }}-upgrade.bin"
mlinux_url: "http://www.multitech.net/mlinux/images/{{ conduit_type }}/{{ mlinux_version }}"

# SSH tunnel
ssh_tunnel_ssh_key: /etc/ssh/ssh_host_rsa_key
ssh_tunnel_daemon: /usr/bin/autossh
ssh_tunnel_daemon_args: -f -M 10084 -o ServerAliveInterval=30
ssh_tunnel_ssh_port: 22

# Static Nameserver defaults
resolv_conf_static: /var/config/network/resolv.conf-static
static_nameservers:
  - 8.8.8.8
  - 8.8.4.4

# In some cases the use of ssh tunnels and PathMTU cause issues, so
# reduce the MTU of interfaces to avoid this issue.
# See http://changelog.complete.org/archives/9335-ssh-suddenly-stops-communicating-with-some-hosts
eth0_mtu: 1100
wlan0_mtu: 1100

# By default the DHCP client sends three packets over three seconds
# and then gives up.  Change this so it will keep going forever (90
# days).
eth0_udhcpc_opts: -b -t 2592000
wlan0_udhcp_opts: -b -t 2592000

# WPA stuff
wpa_conf: /var/config/wpa_supplicant.conf
#wpa_driver: nl80211

# Wireless firmware
rtl8192cu_firmware_file: "rtl8192cufw_TMSC.bin"
rtl8192cu_firmware_path: "rtlwifi/{{ rtl8192cu_firmware_file }}"
rtl8192cu_firmware_url: "https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/plain/{{ rtl8192cu_firmware_path }}"

# Gateway collaborator rights
gateway_collaborator_rights:
  - gateway:settings
  - gateway:collaborators
  - gateway:delete
  - gateway:location
  - gateway:status
  - gateway:owner
  - gateway:messages

