---  

#
#	Install dependencies.  This is mostly to ensure everything is
#	in place as Ansible will not run without many of these
#
- name: Install Ansible dependencies
  opkg: 
    state: installed
    pkg: "{{ item }}"
    update_cache: yes
  when: ansible_local is not defined or ansible_local.opkg is not defined or item|regex_replace('-','_') not in ansible_local.opkg.keys()
  with_items:
    - python-core
    - python-argparse
    - python-async
    - python-compression
    - python-dateutil
    - python-distutils
    - python-html
    - python-json
    - python-pkgutil
    - python-psutil
    - python-pycurl
    - python-pyopenssl
    - python-pyserial
    - python-pyudev
    - python-pyusb
    - python-shell
    - python-simplejson
    - python-syslog
    - python-terminal
    - python-textutils
    - python-unixadmin
    - python-xml
  notify: Reload facts

- name: /var/config/ansible
  file:
    name: /var/config/ansible
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: /var/config/ansible/facts.d
  copy:
    dest: "/var/config/ansible/"
    mode: "0755"
    directory_mode: "0755"
    owner: root
    group: root
    src: facts.d
  notify: Reload facts

- name: Point /etc/ansible at /var/config/ansible
  file:
    name: /etc/ansible
    state: link
    src: /var/config/ansible
  notify: Reload facts

- name: Run handlers in case facts have changed
  meta: flush_handlers
