---

#
#	Ansible first pass setup
#
- name: Ansible setup
  import_tasks: ansible.yml
  tags:
    - setup
    - ansible

#
#  Set up for preserving config during firmware upgrade
#
- name: Preserve config setup
  import_tasks: preserve.yml
  when: ansible_local.opkg.preserve is defined
  tags:
    - setup
    - preserve

#
#	Update mLinux if required
#
- name: Upgrade mlinux
  import_tasks: mlinux-upgrade.yml
  when:
    - mlinux_version is defined
    - mlinux_version != ansible_local.mlinux.version
  tags:
    - setup
    - mlinux

- name: Configure mlinux
  import_tasks: mlinux.yml
  when:
    - mlinux_version is defined
  tags:
    - setup
    - mlinux

#
#	Set up logrotate
#
- name: Set up logrotate
  import_tasks: logrotate.yml
  tags:
    - logrotate
    - setup

#
#	Set up networking
#
- name: Setup networking
  import_tasks: networking.yml
  tags:
    - networking
    - setup

#
#	Set hostname
#
- name: Set /etc/hostname
  copy:
    dest: /etc/hostname
    content: "{{ hostname }}"
    mode: "0644"
    owner: root
    group: root
  when: hostname is defined
  tags:
    - hostname
    - setup
  notify: Set hostname

#
#	Set timezone and time
#
- name: Setup time
  import_tasks: time.yml
  tags:
    - time
    - setup

#
#	Set up user stuff
#
- name: Set up users
  import_tasks: users.yml
  tags:
    - users
    - setup

#
#	Secure ssh
#
- name: Set up ssh
  import_tasks: sshd.yml
  tags:
    - sshd
    - setup
  
#
#	Stop any services we don't want
#

- name: Stop mosquitto
  service: name=mosquitto state=stopped
  when: ansible_local.opkg.mosquitto is defined
  ignore_errors: true
  tags:
    - services
    - setup

- name: Disable mosquitto
  lineinfile: dest=/etc/default/mosquitto
    regexp="^ENABLED="
    line="ENABLED="no""
    state=present
  when: ansible_local.opkg.mosquitto is defined
  tags:
    - services
    - setup

#
#	Set up /usr/local tree
#
- name: Set up /usr/local tree
  import_tasks: local.yml
  tags:
    - localtree
    - setup

#
#	Install and configure TTN packet forwarder
#
- name: Set up TTN packet forwarder
  import_tasks: ttn.yml
  tags:
    - ttn

#
#	Install additional ca-certificates
#

- name: Additional Certificates
  import_tasks: certs.yml
  tags:
    - ca-certificates
    - setup

#
#	Set up ssh_tunnel (autossh)
#
- name: Set up ssh_tunnel (autossh)
  import_tasks: ssh_tunnel.yml
  tags:
    - ssh_tunnel
    - setup

#
#	Set up monit
#
- name: Set up moniit
  import_tasks: monit.yml
  tags:
    - monit
    - setup
