---

#
#	Register gateway
#

- name: Check if using correct card for the region
  fail:
    msg: "Lora card {{ ansible_local.lora.product_id }} and region {{region }} mismatch"
  when: 
    - ( ansible_local.lora.product_id is match("MTAC-LORA-(H-)?915") and region is match("EU|IN") ) or ( ansible_local.lora.product_id is match("MTAC-LORA-(H-)?868") and region is match("US|AU|AS1|AS2|KR") )
    - radio_mismatch is not defined

- name: Check if using correct packet forwarder
  fail:
    msg: "Must use mp_packet_forwarder with SPI versions of lora cards"
  when:
    - ansible_local.lora.hw_version != "MTAC-LORA-1.0"
    - forwarder_variant != "mp"

- name: check if logged into TTN and refresh key
  local_action:
    module: shell
    args: "bin/ttnctl user status"
  run_once: true

- name: register gateway and delete old name if necessary
  local_action:
    module: shell
    args:
      "bin/register
        --json
        --id {{ lora_hostname }} 
      	--region {{ region }}
        --latitude {{ latitude }}
        --longitude {{ longitude }}
        --router {{ router }}
        --description {{ description | quote }}
        --brand {{ gateway_brand | quote }}
        --model {{ gateway_model | quote }}
        --antenna-type {{ antenna_type | quote }}
        --antenna-model {{ antenna_model | quote }}
        --old_id {{ lora_hostname_delete }}
        --collaborators '{{ gateway_collaborators | to_json }}'"
  register: register_output
  notify: register gateway

- name: Set the gateway_info fact
  set_fact:
    gateway_info: "{{ register_output.stdout }}"
  when: forwarder_variant == 'mp'

- name: Set Some facts
  set_fact:
    gw_key: "{{ gateway_info|json_query('key') }}"
    gw_router: "{{ gateway_info|json_query('info.router.mqtt_address')|urlsplit('hostname') }}"
  when: forwarder_variant == 'mp'

#
#	Remove Multi-Tech stuff that we don't want and install the TTN packet-forwarder
#
- name: Remove Multi-Tech lora-network-server
  opkg:
    name: lora-network-server
    state: absent
  when: ansible_local.opkg.lora_network_server is defined
  notify: Reload facts

- name: Remove Multi-Tech lora-packet-forwarder
  opkg:
    name: lora-packet-forwarder
    state: absent
  when: ansible_local.opkg.lora_packet_forwarder is defined
  notify: Reload facts

#
#	Install dependencies
#
- name: Install depedencies for packet forwarder
  opkg: 
    state: installed
    pkg: "{{ item }}"
  when: (ansible_local is not defined) or (ansible_local.opkg is not defined) or (item not in ansible_local.opkg.keys())
  with_items:
    - nodejs
    - libmpsse
  notify: Reload facts

#
#	Make sure we have package for correct version
#
- name: Get info on local copy of packet-forwarder package
  local_action: stat
  args:
    path: "{{ role_path }}/files/{{ forwarder_package_full }}"
  register: forwarder_package_stat

- name: Download requested version of packet-forwarder
  local_action: get_url
  args:
    url: "{{ forwarder_url }}"
    dest: "{{ role_path }}/files"
  when:
    - forwarder_package_stat.stat.exists == false

- name: Find old .ipk files
  find:
    paths:
      /var/config
    patterns:
      - "*-packet-forwarder_*.ipk"
  register: old_ipk
  when:
    - forwarder_installed != forwarder_package_version

- name: Delete old .ipk files
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ old_ipk.files }}"
  when:
    - old_ipk.files is defined

- name: Copy over packet-forwarder
  copy:
    src: "{{ forwarder_package_full }}"
    dest: "/var/config/{{ forwarder_package_full }}"
  when:
    - forwarder_installed != forwarder_package_version

- name: Stop packet-forwarder
  service: name=ttn-pkt-forwarder state=stopped
  when: forwarder_installed != forwarder_package_version
  ignore_errors: yes

- name: Remove all existing packet-forwarder packages
  shell: "opkg remove poly-packet-forwarder mp-packet-forwarder ttn-packet-forwarder"
  when:
    - forwarder_installed != forwarder_package_version
  notify: Reload facts

- name: Install {{ forwarder_package_full }}
  shell: "opkg install /var/config/{{ forwarder_package_full }}"
  when: forwarder_installed != forwarder_package_version
  notify:
    - restart ttn-pkt-forwarder
    - Reload facts

- name: Delete the ipk file
  file:
    path: "/var/config/{{ forwarder_package_full }}"
    state: absent

- name: Install /var/config/ttn-pkt-forwarder
  template:
    src: ttn-pkt-forwarder.j2
    dest: /var/config/lora/ttn-pkt-forwarder
    mode: "0755"
    owner: root
    group: root
  notify:
    - restart ttn-pkt-forwarder

- name: Link /etc/init.d/ttn-pkt-forwarder to /var/config/lora/ttn-pkt-forwarder
  file:
    dest: /etc/init.d/ttn-pkt-forwarder
    state: link
    src: /var/config/lora/ttn-pkt-forwarder
    follow: false
    force: yes
  notify:
    - update rc
    - restart ttn-pkt-forwarder

- name: Clean up packet-forwarder crud
  file:
    name: /var/config/lora/local_conf.json-opkg
    state: absent

#
#	Install the TTN config files
#
- name: Lora dir
  file:
    name: /var/config/lora
    mode: "0755"
    owner: root
    group: root

- name: Local packet forwarder configuration file
  template:
    src: local_conf.json.j2
    dest: /var/config/lora/local_conf.json
    mode: "0644"
    owner: root
    group: root

- name: Global packet forwarder configuration file
  local_action: get_url
  args:
    url: "https://raw.githubusercontent.com/TheThingsNetwork/gateway-conf/master/{{ region }}-global_conf.json"
    dest: "{{ role_path }}/files"

- name: Packet Forwarder configuration (before 3.0.25)
  block:
    - copy:
        src: "{{ region }}-global_conf.json"
        dest: /var/config/lora/ttn_global_conf.json
        mode: "0644"
        owner: root
        group: root
    - shell: node /opt/lora/merge.js /var/config/lora/ttn_global_conf.json /var/config/lora/multitech_overrides.json /var/config/lora/global_conf.json
      notify: restart ttn-pkt-forwarder
    - copy:
        src: "{{ region }}-global_conf.json"
        dest: /var/config/lora/global_conf.json
        mode: "0644"
        owner: root
        group: root
  when: forwarder_variant != "mp" or forwarder_version is version('3.0.25', '<')

- name: Packet Forwarder configuration (3.0.25 and later)
  block:
    - copy:
        src: "{{ region }}-global_conf.json"
        dest: /var/config/lora/global_conf.json
        mode: "0644"
        owner: root
        group: root
      notify: restart ttn-pkt-forwarder
    - file:
        dest: /var/config/lora/ttn_global_conf.json
        state: absent
  when: forwarder_variant == "mp" and forwarder_version is version('3.0.25', '>=')

- name: Remove some files
  file:
    name: "{{ item }}"
    state: absent
  loop:
    - /var/config/lora/config.yml
    - /var/config/lora/samples
