{% for key in autossh_authorized_keys %}
{{ key }}
{% endfor %}
{% if 'ansible_ssh_host_key_rsa_public' in hostvars[autossh_host] %}
{{ hostvars[autossh_host]['ansible_ssh_host_key_rsa_public'] }} {{ autossh_host }}
{% endif %}
