---
# handlers file for setup

#
#	Run update-ca-certificates
#
- name: update-ca-certificates
  shell: "update-ca-certificates"

#
#	Make sure init script is run
#
- name: update rc
  shell: "update-rc.d -f ttn-pkt-forwarder remove; update-rc.d ttn-pkt-forwarder defaults 95 30"
  
#
#	Restart the packet forwarder
#
- name: restart ttn-pkt-forwarder
  service:
    name: ttn-pkt-forwarder
    state: restarted
    sleep: "{{ forwarder_restart_delay }}"

#
#	Remind to
- name: register gateway
  debug:
    msg: "Please go to https://console.thethingsnetwork.org/gateways
 and update the antenna Altitude and Placement your gateways.  The
 API does not allow these parameters to be set" 
  run_once: true

#
#       Restart ntpd
#
- name: restart ntpd
  service: name=ntpd state=restarted

#
#       Restart ssh_tunnel
#
- name: restart ssh_tunnel
  service: name=ssh_tunnel state=restarted

#
#	Restart sshd after config changes
#
- name: Restart ssh
  service: name=sshd state=restarted
  async: 1
  ignore_errors: true

#
#	Remind 
#
- name: interface reboot
  debug:
    msg: Interface configuration changed, remember to reboot

#
#	Reload the facts
#
- name: Reload facts
  include_tasks: reload_facts.yml

#
#	opkg handlers
#
- name: opkg clean
  shell: "opkg clean"
  ignore_errors: true

#
#	Monit handlers
#
- name: Restart monit
  service: name=monit state=restarted

- name: monit monitor check_pktfwdlog
  shell: "monit monitor check_pktfwdlog"
  ignore_errors: true

- name: monit monitor volatile
  shell: "monit monitor volatile"
  ignore_errors: true

- name: Update system checksum file
  include_tasks: update_checksums.yml
