/var/log/lora-pkt-fwd.log {
	rotate {{ forwarder_logrotate_count }}
	daily
	maxsize {{ forwarder_logrotate_size }}
	missingok
        sharedscripts
        postrotate
		{{ forwarder_logrotate_command }}
	endscript
	compress
}
